<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment_with_stripe</title>
</head>

<body>
    <input type="number" placeholder="enter the amount that you want to donate" style="width:300px">
    {% if user.is_authenticated %}
    <button id="buy_now_btn"><a href="/payment">payy</a></button>
    {% else %}
    <a href="/login">login</a>
    {% endif %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const sessionID = "{{ session_id }}";
        var stripe = Stripe('pk_test_51Mn3vTSB9lTxkE9Qg9qJEXyZpE2227HklWNepD405zCJc6nPXaJhVIB1dkYHhpL7DO5nIn7qERyO6UQMUQIz4vzN0049hoXUNK');
        const stripe_pay = document.getElementById('buy_now_btn');
        stripe_pay.addEventListener('click', event => {
            stripe.redirectToCheckout({
                sessionId: sessionID
            });
        });

    </script>
</body>

</html>